
test ~/keystonercv3 && source ~/keystonercv3

# If you use custom project/user, override
#export OS_PROJECT_NAME=poc1
#export OS_USERNAME=poc1-user1
#export OS_PASSWORD=some

pipenv --py && pipenv shell
